<div class="dashboard-container">
  <div class="top-of-page-container">
    <h1><%= title%></h1>
    <a
      href="/documentation"
      class="link-api-documentation"
    >
      <button>Voir la documentation</button>
    </a>
    <div class="link-list-pages-container">
      <a href="/catways">Voir la liste des catways</a>
      <a href="">Voir la liste des réservations</a>
    </div>
  </div>
  <div class="bottom-of-the-page-container">
    <div class="btn-form-lists-container">
      <div class="btn-users-form-container">
        <div class="btn-form-create-user-container">
          <button class="btn-form-create-user">Créer un utilisateur</button>
        </div>
        <div class="btn-form-update-user-container">
          <button class="btn-form-update-user">Modifier un utilisateur</button>
        </div>
        <div class="btn-form-delete-user-container">
          <button class="btn-form-delete-user">Supprimer un utilisateur</button>
        </div>
      </div>
      <div class="btn-catways-form-container">
        <div class="btn-form-create-catway-container">
          <button class="btn-form-create-catway">Créer un catway</button>
        </div>
        <div class="btn-form-update-catway-state-container">
          <button class="btn-form-update-catway-state">
            Modifier l'état d'un catway
          </button>
        </div>
        <div class="btn-form-delete-catway-state-container">
          <button class="btn-form-delete-catway-state">
            Supprimer un catway
          </button>
        </div>
        <div class="btn-form-catway-details-state-container">
          <button class="btn-form-catway-details-state">
            Afficher les détails d'un catway
          </button>
        </div>
      </div>
      <div class="btn-reservations-form-container">
        <div class="btn-form-save-reservation-container">
          <button class="btn-form-save-reservation">
            Enregistrer une réservation
          </button>
        </div>
        <div class="btn-form-delete-reservation-container">
          <button class="btn-form-delete-reservation">
            Supprimer une réservation
          </button>
        </div>
        <div class="btn-form-display-details-reservation-container">
          <button class="btn-form-display-details-reservation">
            Afficher une réservation
          </button>
        </div>
      </div>
      <div class="form-list">
        <div class="users-form-list-container">
          <div class="form-create-user-container">
            <h2 class="h2-form-create-user">Créer un utilisateur</h2>
            <form
              action="/dashboard/create-user"
              method="post"
              class="form-create-user"
            >
              <label for="name">Nom :</label>
              <input type="text" name="name" id="name" required />
              <label for="email">E-mail :</label>
              <input type="email" name="email" id="email" required />
              <label for="password">Mot de passe :</label>
              <input type="password" name="password" id="password" required />
              <button type="submit">Valider</button>
            </form>
          </div>
          <div class="form-update-user-container">
            <h2 class="h2-form-update-user">Modifier un utilisateur</h2>
            <form
              action="/dashboard/update-user"
              method="post"
              class="form-update-user"
            >
              <label for="userId">Entrez l'identifiant :</label>
              <input type="text" name="userId" id="userId" required />
              <label for="name">Nom :</label>
              <input type="text" name="name" id="name" required />
              <label for="email">E-mail :</label>
              <input type="email" name="email" id="email" required />
              <button type="submit">Valider</button>
            </form>
          </div>
          <div class="form-delete-user-container">
            <h2 class="h2-form-delete-user">Supprimer un utilisateur</h2>
            <form
              action="/dashboard/delete-user"
              method="post"
              class="form-delete-user"
            >
              <label for="userId">Entrez l'identifiant :</label>
              <input type="text" name="userId" id="userId" required />
              <label for="name">Nom :</label>
              <input type="text" name="name" id="name" required />
              <label for="email">E-mail :</label>
              <input type="email" name="email" id="email" required />
              <button type="submit">Valider</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="catways-form-list-container">
      <div class="form-create-catway-container">
        <h2 class="h2-form-create-catway">Créer un catway</h2>
        <form action="/dashboard/create-catway" method="post">
          <label for="catwayNumberCc">Numéro du catway :</label>
          <input
            type="text"
            name="catwayNumber"
            id="catwayNumberCc"
            value=""
            readonly
          />
          <p>Type :</p>
          <label for="short">Court</label>
          <input type="radio" name="type" id="short" value="short" required />
          <label for="long">Long</label>
          <input type="radio" name="type" id="long" value="long" required />
          <label for="catwayStateCc">État :</label>
          <textarea
            name="catwayState"
            id="catwayStateCc"
            rows="4"
            cols="50"
            placeholder="Décrivez l'état du catway..."
            required
          ></textarea>
          <button type="submit">Valider</button>
        </form>
      </div>
      <div class="form-catway-state-container">
        <h2 class="h2-form-catway-state">
          Modifier la description de l'état d'un catway
        </h2>
        <form action="/dashboard/update-catway-state" method="post">
          <input type="hidden" name="_method" value="PATCH" />
          <label for="catwayIdUc">ID catway :</label>
          <input type="text" name="catwayId" id="catwayIdUc" required />
          <label for="catwayStateUc">État :</label>
          <textarea
            name="catwayState"
            id="catwayStateUc"
            rows="4"
            cols="50"
            placeholder="Décrivez l'état du catway..."
            required
          ></textarea>
          <button type="submit">Valider</button>
        </form>
      </div>
      <div class="form-delete-catway-container">
        <h2 class="h2-delete-catway">Supprimer un catway</h2>
        <form action="/dashboard/delete-catway" method="post">
          <input type="hidden" name="_method" value="DELETE" />
          <label for="catwayNumberDc">Numéro du catway :</label>
          <input type="text" name="catwayNumber" id="catwayNumberDc" required />
          <button type="submit">Valider</button>
        </form>
      </div>
      <div class="form-display-catway-details-container">
        <h2 class="h2-display-catway-details">
          Afficher les détails d'un catway
        </h2>
        <label for="catwayNumberDcd">Numéro du catway :</label>
        <select name="catwayNumber" id="catwayNumberDcd" required>
          <option disabled selected>Sélectionnez un numéro</option>
          <% catways.forEach(catway => { %>
          <option value="<%= catway.catwayNumber %>">
            <%= catway.catwayNumber %>
          </option>
          <% }); %>
        </select>

        <% if (catways) { %>
        <h3>Type :</h3>
        <p id="catwayTypeDcd"></p>

        <h3>État :</h3>
        <p id="catwayStateDcd"></p>
        <% } %>
      </div>
    </div>
    <div class="reservations-form-list-container">
      <div class="form-save-reservation-container">
        <h2 class="h2-save-reservation">Enregistrer une réservation</h2>
        <form action="/dashboard/save-reservation" method="post">
          <label for="catwayNumberSr">Numéro du catway :</label>
          <input type="text" name="catwayNumber" id="catwayNumberSr" />
          <label for="clientNameSr">Nom du client :</label>
          <input type="text" name="clientName" id="clientNameSr" />
          <label for="boatNameSr">Nom du bateau amarré :</label>
          <input type="text" name="boatName" id="boatNameSr" />
          <label for="checkInSr">Date de début de réservation :</label>
          <input type="date" name="checkIn" id="checkInSr" />
          <label for="checkOutSr">Date de fin de réservation :</label>
          <input type="date" name="checkOut" id="checkOutSr" />
          <button type="submit">Valider</button>
        </form>
      </div>
      <div class="form-delete-reservation-container">
        <h2>Supprimer une réservation</h2>
        <form action="/dashboard/delete-reservation" method="post">
          <input type="hidden" name="_method" value="DELETE" />
          <label for="reservationIdDr">ID :</label>
          <input type="text" name="reservationId" id="reservationIdDr" />
          <button type="submit">Valider</button>
        </form>
      </div>
      <div class="form-display-reservation-details-container">
        <h2>Afficher les détails d'une réservation</h2>
        <form>
          <label for="reservationIdDrd">Réservation :</label>
          <select name="reservationId" id="reservationIdDrd">
            <option value="">Sélectionnez une réservation</option>
            <% reservations.forEach(reservation => { %>
            <option value="<%= reservation._id %>">
              <%= reservation.clientName %>
            </option>
            <% }); %>
          </select>
          <h3>Numéro du catway :</h3>
          <p id="catwayNumberDrd"></p>
          <h3>Nom du client :</h3>
          <p id="clientNameDrd"></p>
          <h3>Nom du bateau :</h3>
          <p id="boatNameDrd"></p>
          <h3>Date de début de réservation :</h3>
          <p id="checkInDrd"></p>
          <h3>Date de fin de réservation :</h3>
          <p id="checkOutDrd"></p>
        </form>
      </div>
    </div>
  </div>
</div>
